# Flutter
hotelmanag/.dart_tool/
hotelmanag/.flutter-plugins
hotelmanag/.flutter-plugins-dependencies
hotelmanag/.pub-cache/
hotelmanag/.pub/
hotelmanag/build/

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store
Thumbs.db
admin/node_modules/
admin/dist/
admin/.vercel/
admin/.env
admin/.env.production
